@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  background: #070a29;
  color: #fff;
  padding: 1rem;
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

.container {
  display: flex;
  overflow: hidden;
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-left: -20px;
}

.navbarr {
  justify-content: space-between;
  align-items: center;
  width: 66%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.form-container {
  flex: 1;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: #1a1a2e;
  padding: 2rem;
  border-radius: 10px;
}

.form-container h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container .form-container .navbar {
  margin-bottom: 10px;
}

.image-container {
  flex: 1;
  background-image: url("../img/gambar-register.png");
  background-size: 130%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  color: #fff;
  border-radius: 10px;
  margin-left: 3rem;
  height: 750px;
}

.image-container h2 {
  font-size: 96px;
  margin: 0;
  font-weight: 800;
  text-align: center;
}

.image-container p {
  font-size: 18px;
  margin-top: 16px;
  text-align: center;
  font-weight: 500;
  color: white;
}

.container h1 {
  color: white;
  font-size: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  margin-left: -110px;
  margin-top: 0rem;
}

p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.875rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.44px;
  word-wrap: break-word;
  margin-top: -10px;
  margin-top: -1.2rem; /* Atur margin atas menjadi 0 */
}

.social-login {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 450px;
}

.social-login button {
  flex: 1;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.social-login button img.logo {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.social-login button.google {
  border: 1px rgba(255, 255, 255, 0.3) solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.social-login button.facebook {
  border: 1px rgba(255, 255, 255, 0.3) solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.separator {
  width: 440px;
  height: 17px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  margin-bottom: 20px;
}

.separator-line {
  width: 200px;
  height: 1px;
  border: 1px rgba(255, 255, 255, 0.3) solid;
}

.separator-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}

.separator-line:last-child {
  width: 200px;
}

form {
  display: flex;
  flex-direction: column;
}

form p {
  font-size: 0.975rem;
  margin-bottom: 5px;
}

label {
  margin-bottom: -1rem;
  font-size: 0.875rem;
  color: #fff;
}

input {
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #222436;
  color: #fff;
  width: 440px;
  font-size: 14px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  flex-direction: none;
  padding: 0;
}

.checkbox-container input {
  margin-left: -12.5rem;
}

.checkbox-container label {
  font-size: 0.875rem;
  margin-left: -12rem;
  margin-bottom: -0.1rem;
}

.submit-btn {
  padding: 0.75rem;
  background: linear-gradient(90deg, #6a4bff 31%, #9070f7 64%, #ae8ef1 100%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 448px;
}

.login-link {
  text-align: center;
  font-size: 0.875rem;
}

.login-link a {
  color: #805ad5;
  text-decoration: none;
}

.image-container p {
  font-size: 13px;
  margin-top: 1px;
}
